.top-nav {
    background-color: #0071c5;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 0 2rem;
}

.home {
    color: white;
    font-weight: bold;
}

.divider {
    margin: 0 1rem;
}

.top-nav__sub {
    display: flex;
}