*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.donut-wrapper {
  width: 456px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  background-color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  font-size: 3rem;
}

.subtitle {
  background-color: #edecec;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 2rem;
}